:root {
  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

li {
  list-style-type: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 15px;
  background-color: var(--very-light-grayish-blue);
  padding: 3rem 0;
}

.designe-line-right-top,
.designe-line-left-bottom {
  position: absolute;
  width: 100vw;
  height: 80vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -3;
}

.designe-line-right-top {
  top: 0;
  right: 0;
  background-image: url("../images/bg-top.svg");
  background-position: 55vw;
}

.designe-line-left-bottom {
  top: 100%;
  left: 0;
  width: 20vw;
  height: 40vh;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background-image: url("../images/bg-bottom.svg");
  background-position: 0vw;
}

@media screen and (min-width: 1025px) {
  .designe-line-right-top {
    width: 20vw;
    background-position: 0;
  }
}

@media screen and (max-width: 1025px) {
  .designe-line-left-bottom {
    display: none;
  }
}

button {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.container {
  padding: 0 1.5rem;
  width: 100%;
}

.header {
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .header-title {
  font-size: 2em;
  color: var(--grayish-blue);
  text-align: center;
}

.header .header-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  color: var(--light-grayish-blue);
}

.header .header-options .header-options__toggle {
  position: relative;
  width: 50px;
  height: 30px;
  border-radius: 20px;
  margin: 0 2rem;
}

.header .header-options .header-options__toggle .checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.header .header-options .header-options__toggle .toggle-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
  background-color: #FFF;
  border-radius: 20px;
}

.header .header-options .header-options__toggle .toggle-slider:after {
  content: '';
  position: absolute;
  left: 4px;
  top: 4px;
  width: 22px;
  height: 22px;
  background-color: #FFF;
  border-radius: 100%;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.header .header-options .header-options__toggle .checkbox:checked + .toggle-slider:after {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .card {
  margin-bottom: 1.5rem;
  max-width: 320px;
  width: 100%;
  color: var(--grayish-blue);
  padding: 1.5rem;
  background-color: #FFF;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 9px 0px #e6e6eb;
          box-shadow: 0 4px 9px 0px #e6e6eb;
}

.content .card .card__header {
  padding: 1rem 0 1.5rem;
}

.content .card .card__header .card-header__title {
  text-align: center;
}

.content .card .card__price {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(218, 218, 218, 0.5);
}

.content .card .card__price .card-price__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--dark-grayish-blue);
}

.content .card .card__price .card-price__text .card-price-symbole {
  font-size: 2.5rem;
}

.content .card .card__price .card-price__text .price {
  font-size: 4rem;
}

.content .card .card__price .card-price__text .price--monthly {
  display: none;
}

.content .card .card__content .card-content-list__item {
  padding: 0.8rem;
  text-align: center;
  border-bottom: 1px solid rgba(218, 218, 218, 0.5);
}

.content .card .card__option {
  padding-top: 1.5rem;
}

.content .card .card__option .btn {
  padding: 0.5rem 0;
  width: 100%;
  color: #FFF;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
  background-color: #696fdd;
  border: none;
  border-radius: 5px;
}

.content .card .card__option .btn:hover {
  -webkit-transition: 0.4s ease-in all;
  transition: 0.4s ease-in all;
  background-image: none;
  background-color: #FFF;
  color: #696fdd;
}

.content .card--active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to bottom, #a3a8f0, #696fdd);
  color: #FFF;
}

.content .card--active .card__price .card-price__text {
  color: #FFF;
}

.content .card--active .card__option .btn {
  background-image: none;
  background-color: #FFF;
  color: #000;
}

.content .card--active .card__option .btn:hover {
  -webkit-transition: 0.4s ease-in all;
  transition: 0.4s ease-in all;
  background-image: none;
  background-color: #6d70b900;
  color: #FFF;
}

@media screen and (min-width: 1025px) {
  .content .card--active {
    padding: 3rem 1.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */