<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Portfolio - Robert</title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans|Roboto" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>


    <main>
        <header id="nav-section">
            <h1 class="logo">HABA</h1>
            <div class="hamburger-menu" onclick="mobileMenu()">
                &#9776
            </div>
            <nav id="main-nav">
                <ul>
                    <li>Projekty</li>
                    <li>O mnie</li>
                    <li>Kontakt</li>
                </ul>
            </nav>
        </header>
        <section id="welcome-section">
            <div class="logo-name">
                <h2>
                    ROBERT HAPKA
                </h2>
            </div>
        </section>
        <section id="project-section">
            <div class="info-sec-box">
                <div class="sec-icon">
                    <img src="img/icons/project.svg" alt="Project Logo">

                </div>
                <h1>
                    Projekty
                </h1>
            </div>
            <div class="project-box">
                <article class="small-project-box project-hover">
                    <img src="img/project/dt.png" alt="Project Page" class="photo-project">
                    <h2>
                        Daily Task v2.340
                    </h2>
                    <p>
                        Daily Task jest stroną stworzoną do planowania własnego dnia, tygodnia itd... Działa na zasadzie rozbudowanego to do list'a. <br> Użyte technologie to HTML, CSS(z wykorzystaniem grid'a + flex'a) i JS(z wykorzystaniem JSON'a).
                    </p>

                    <div class="btn-inline">
                        <a class="btn-proj btn-proj-hover" href=".\dailyTask\index.html">LIVE</a>
                        <a class="btn-proj btn-proj-hover">KOD</a>
                    </div>

                </article>
                <article class="small-project-box project-hover">
                    <img src="img/project/project.jpg" alt="Project Page" class="photo-project">
                    <h2>
                        Chat
                    </h2>
                    <p>
                        Lerum ipsum dolor sit amet, consectetur cidunt...
                    </p>

                    <div class="btn-inline">
                        <a class="btn-proj btn-proj-hover" href=".\chat\index.html">LIVE</a>
                        <a class="btn-proj btn-proj-hover">KOD</a>
                    </div>

                </article>
                <article class="small-project-box project-hover">
                    <img src="img/project/project.jpg" alt="Project Page" class="photo-project">
                    <h2>
                        Single Page - shop
                    </h2>
                    <p>
                        Lerum ipsum dolor sit amet, consectetur cidunt...
                    </p>

                    <div class="btn-inline">
                        <a class="btn-proj btn-proj-hover" href=".\Sklep- SP\index.html">LIVE</a>
                        <a class="btn-proj btn-proj-hover">KOD</a>
                    </div>

                </article>
                <article class="small-project-box project-hover">
                    <img src="img/project/project.jpg" alt="Project Page" class="photo-project">
                    <h2>
                        PROJECT NAME
                    </h2>
                    <p>
                        Lerum ipsum dolor sit amet, consectetur cidunt...
                    </p>

                    <div class="btn-inline">
                        <a class="btn-proj btn-proj-hover">LIVE</a>
                        <a class="btn-proj btn-proj-hover">KOD</a>
                    </div>

                </article>
                <article class="small-project-box project-hover">
                    <img src="img/project/project.jpg" alt="Project Page" class="photo-project">
                    <h2>
                        PROJECT NAME
                    </h2>
                    <p>
                        Lerum ipsum dolor sit amet, consectetur cidunt...
                    </p>

                    <div class="btn-inline">
                        <a class="btn-proj btn-proj-hover">LIVE</a>
                        <a class="btn-proj btn-proj-hover">KOD</a>
                    </div>

                </article>
            </div>



        </section>
        <section class="info-section">

            <div class="info-sec-box">
                <h2>
                    Kolejna technologia
                </h2>
                <img class="info-logo" src="img/icons/plan.svg" alt="Plan Logo">
                <article class="prog-lang-box">
                    <div><img src="img/icons/vue.png" alt="Vue logo">
                        <h2 style="color:#4FB988">Vue.js</h2>
                    </div>
                    <div class=" p-description-box ">
                        Vue jest freamworkiem, który przy pierwszym kontakcie bardzo mnie zainteresował. <br>Po częściowo nieudanej próbie napisania czatu posługując się wyżej wymienioną technologią i firebase, postanowiłem przerobić tutorial z kanału
                        The Net Ninja. Myślę, że za niedługi czas zrobię drugie podejście :)
                    </div>
                </article>

            </div>
        </section>
        <section id="about-section">
            <div class="wallpaper-sec">
                <div class="info-sec-box">
                    <div class="sec-icon" style="background-color: #DF4054">
                        <img src="img/icons/astronaut.svg" alt="Project Logo">

                    </div>
                    <h1>
                        O mnie
                    </h1>
                </div>
            </div>


            <article class="about-box">
                <div class="my-photo">

                </div>
                <section>
                    <h2>Parę informacji :)</h2>
                    <p class="about">
                        Nazywam się Robert Hapka i obecnie jestem w klasie maturalnej na kierunku Technik Informatyk. Moja pasja do kodowania stron internetowch rozpoczęła się jakieś dwa lata temu. Większość mojej wiedzy pochodzi z nauki praktycznej (wymyślanie projektu, a następnie
                        wdrażanie), a także z umiejętności szukania w internecie :). Większość moich projektów opiera się na czystym html'u, css'ie i js'ie, myślę, że niedługo do nich może dołączyć Vue.js, a co dalej to zobaczymy.<br>                        Wolny czas spędzam uprawiając sport(siatkówka, siłownia itp.), korzystając z komputera, spotykając się ze znajomymi lub spacerując :). Czasami nudzi mnie chodzenie na nogach i wtedy prace nóg odgrywają ręcę ;)
                    </p>
                </section>
                <section class="software">
                    <h2>Komunikatory</h2>
                    <article>

                        <div class="software-box">
                            <a href="https://join.slack.com/t/robertfrontend/shared_invite/enQtMzA1ODg4Mjg5NDkzLWM2ODRjMjU1Y2FmNTJhYzk2YzM1ZjRiN2E3YzdlOTUzNDkwODUxNDAyYjc5NjNhNDRlYjA1YTdmOTcyYjM5YTk">
                                <div class="short-name">
                                    S
                                </div>
                            </a>
                            <h3>Slack</h3>
                        </div>

                        <div class="software-box">
                            <a href="mailto:robertfrontend@gmail.com">
                                <div class="short-name">
                                    Gm
                                </div>
                            </a>
                            <h3>Gmail</h3>
                        </div>
                        <div class="software-box">
                            <a href="https://discord.gg/aNQ6azC">
                                <div class="short-name">
                                    Ds
                                </div>
                            </a>
                            <h3>Discord</h3>
                        </div>
                    </article>
                </section>

            </article>

        </section>
        <section class="info-section">

            <div class="info-sec-box">
                <h2>
                    Technologie
                </h2>
                <img class="info-logo" src="img/icons/coding.svg" alt="Code image">


            </div>
            <article class="technology-box">
                <div class="tech-con">
                    <h3>Czym chętnie się posługuję?</h3>
                    <div class="small-box-column">
                        <div class="small-tech-box">
                            <img src="img/icons/html5.svg" alt="HTML 5 Logo">
                            <h4>HTML 5</h4>
                        </div>
                        <div class="small-tech-box">
                            <img src="img/icons/css.svg" alt="CSS 3 Logo">
                            <h4>CSS</h4>
                        </div>
                        <div class="small-tech-box">
                            <img src="img/icons/js.svg" alt="JS 5 Logo">
                            <h4>JS</h4>
                        </div>
                    </div>
                </div>
                <div class="tech-con">
                    <h3>Co jeszcze znam (podstawy)?</h3>
                    <div class="small-box-column">
                        <div class="small-tech-box">
                            <div class="logo-background"> <img src="img/icons/vue.svg" alt="HTML 5 Logo"></div>
                            <h4>Vue.js</h4>
                        </div>
                        <div class="small-tech-box">
                            <img src="img/icons/bs.svg" alt="Bootstrap 5 Logo">
                            <h4>Bootstrap</h4>
                        </div>
                        <div class="small-tech-box">
                            <div class="logo-background"><img src="img/icons/jq.svg" alt="CSS 3 Logo"></div>
                            <h4>JQuery</h4>
                        </div>
                        <div class="small-tech-box">
                            <div class="logo-background"><img src="img/icons/php.svg" alt="CSS 3 Logo"></div>
                            <h4>PHP</h4>
                        </div>
                        <div class="small-tech-box">
                            <div class="logo-background"><img src="img/icons/sass.svg" alt="CSS 3 Logo"></div>
                            <h4>SASS</h4>
                        </div>

                    </div>
                </div>

            </article>
        </section>
        <section id="contact-section">
            <div class="wallpaper-sec wallpaper-moon">

            </div>
            <div class="half-circle">
                <img src="img/icons/rocket.svg" alt="Rocket" class="rocket-img">
                <img src="img/icons/alien.svg" alt="Alien, UFO" class="alien-img">
            </div>
            <article class="contact-box">
                <div class="info-sec-box">
                    <div class="sec-icon con-sec-icon">
                        <img src="img/icons/signal.svg" alt="Signal Logo">

                    </div>
                    <h1>
                        Kontakt
                    </h1>
                    <p>
                        Nie czekaj!Skontaktuj się już dziś.
                    </p>
                    <form id="contact-form" v-on:submit.prevent="getRef">
                        <span>
                            <input type="email" class="email-input" placeholder="Twój email..." ref="emailRef" v-model="newUser.email">
                            <input type="text" class="title-input" placeholder="Tytuł (minimum 3 znaki)" ref="titleRef" v-model="newUser.title">
                        </span>

                        <textarea placeholder="Treść wiadomości (minimum 3 znaki)" ref="messageRef"></textarea>

                        <input type="submit" class="btn-form" value="Wyślij">
                    </form>

                </div>
                <div class="pop-up">
                    <h3>Twoja wiadomośc została wysłana</h3>

                </div>

            </article>
        </section>

        <footer class=" main-footer ">
            <div>Icons made by <a class="link-hover" href="http://www.freepik.com" title="Freepik">Freepik</a> from <a class="link-hover" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a class="link-hover" href="http://creativecommons.org/licenses/by/3.0/"
                    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        </footer>
    </main>


    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>

    <script src="main.js "></script>
    <script>
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
</body>

</html>