html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: 'Lato'
}

li {
    list-style-type: none;
}

#welcome-section,
#project-section,
#about-section,
#contact-section {
    width: 100%;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
}

main {
    width: 100%;
}

.info-sec-box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 90px;
}

.sec-icon {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.sec-icon img {
    width: 60px;
    height: 60px;
}

.info-sec-box h1 {
    text-transform: uppercase;
    color: #EEE;
    font-weight: bold;
    letter-spacing: 1.6px;
    margin-top: 10px;
    font-size: 25px;
    font-family: 'Lato'
}


/*
#N1
Nav section
*/

#nav-section {
    display: flex;
    background-color: #2d253a;
    width: 100%;
    height: 45px;
    align-items: center;
    position: fixed;
    z-index: 10;
    border-top: 2px solid #DF4054;
    box-shadow: 0px 0px 3px 6px rgb(31, 26, 39);
}

.logo {
    width: 30%;
    text-align: center;
    color: rgb(123, 115, 128);
    font-size: 30px;
    font-weight: bold;
}

#main-nav {
    display: flex;
    align-items: center;
    width: 66%;
}

#main-nav ul {
    display: flex;
    color: #CCC;
    width: 100%;
    justify-content: flex-end;
}

#main-nav li {
    margin-left: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

#main-nav li:hover {
    color: #DF4054;
    transition: all ease 0.3s;
    cursor: pointer;
}


/* 
#S1
Welcome section
*/

#welcome-section {
    background-color: rgb(45, 37, 58);
    background-image: url('img/background/welcome.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

@keyframes logoAnim {
    0% {
        border-top: 1px solid #FFF;
        border-bottom: 1px solid #FFF;
        font-size: 0px;
        padding: 0px;
        height: 0px;
    }
    20% {
        font-size: 0px;
        padding: 0px;
    }
    70% {
        padding: 7px;
    }
    100% {
        border-top: 4px solid #FFF;
        border-bottom: 4px solid #FFF;
        font-size: 40px;
        padding: 20px;
    }
}

.logo-name {
    top: 30%;
    transform: translateY(-50%);
    position: relative;
    height: 30px;
    display: flex;
    align-items: center;
    border-top: 4px solid #FFF;
    border-bottom: 4px solid #FFF;
    padding: 20px;
    font-size: 40px;
    animation: 2s logoAnim;
    background-color: rgba(255, 255, 255, 0.1);
}

.logo-name h2 {
    color: #FFF;
    font-weight: bold;
    border-right: 4px solid #FFF;
    border-left: 4px solid #FFF;
    padding: 0 5px;
}


/*

#S2
Project
*/

#project-section {
    background-color: #2d253a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
}

.project-box {
    margin: 0 auto;
    margin-top: 50px;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.small-project-box {
    width: 350px;
    box-shadow: 0px 0px 4px 5px rgb(36, 29, 48);
    background-color: #FFF;
    padding: 3px;
    height: 600px;
    border-bottom: 5px solid #FFF;
    margin-top: 30px;
    box-sizing: border-box;
}

.photo-project {
    width: 100%;
    height: 300px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.small-project-box h2 {
    color: #555;
    font-size: 25px;
    padding: 25px 10px 0px 10px;
    font-weight: bold;
    padding-top: 20px;
}

.small-project-box p {
    padding: 30px 10px 0px 10px;
    font-size: 15px;
    color: #AAA;
}

.btn-inline {
    display: flex;
    justify-content: space-around;
    position: relative;
    position: sticky;
    top: 100%;
}

.btn-proj {
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    margin-bottom: 4px;
    font-weight: bold;
    color: #FFF;
    background-color: #222;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.project-hover:hover img {
    filter: grayscale(0);
}

.project-hover:hover h2 {
    color: #DF4054;
}

.project-hover:hover {
    border-bottom: 5px solid #DF4054;
}

.project-hover:hover .btn-proj {
    background-color: #DF4054;
}


/*


*/

.info-section {
    width: 100%;
    min-height: 40vh;
    height: auto;
    background-color: rgb(39, 32, 51);
    border-top: 4px solid rgb(53, 45, 66);
    border-bottom: 4px solid rgb(53, 45, 66);
    padding-bottom: 5vh
}

.info-section h2 {
    color: #FFF;
    font-size: 25px;
    font-family: "Roboto";
    font-weight: bold;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    text-align: center;
}

.info-logo {
    width: 60px;
    height: 90px;
    border-bottom: 1px solid #FFF;
}

.prog-lang-box {
    display: flex;
    padding-left: 5px;
    height: 150px;
    margin-top: 20px;
    border-left: 1px solid #FFF;
}

.prog-lang-box img {
    width: 100px;
    height: 100px;
}

.p-description-box {
    border-right: 1px solid #FFF;
    width: 350px;
    height: 150px;
    color: #DDD;
    padding: 5px;
}


/*



*/

#about-section {
    background-color: #2d253a;
    height: auto;
}

.wallpaper-sec {
    width: 100%;
    background-image: url("img/background/about.png");
    height: 580px;
    display: flex;
    align-items: center;
}

.about-box {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.my-photo {
    width: 350px;
    height: 350px;
    border: 9px solid rgb(53, 45, 66);
    border-radius: 100%;
    background-image: url("img/photo/r2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin-bottom: 70px;
}

.about-box h2 {
    color: #FFF;
    text-align: left;
    width: 100%;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: bold;
}

.about {
    padding: 10px;
    color: #CCC;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 2;
}

.software {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.software article {
    display: flex;
}

.software-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
}

.short-name {
    margin: 20px;
    width: 100px;
    height: 100px;
    background-color: #DF4054;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 30px;
}

.software-box h3 {
    font-family: 'Montserrat';
    color: #FFF;
    text-align: center;
}


/* 


*/

.technology-box {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 30px;
}

.technology-box h3 {
    color: rgb(123, 115, 128);
}

.tech-con {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-box-column {
    display: flex;
}

.small-tech-box {
    background-color: #3a3347;
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 5px;
}

.small-tech-box h4 {
    color: #FFF;
    font-size: 13px;
    margin-bottom: 10px;
}

.logo-background {
    background-color: #FFF;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-tech-box img {
    width: 50px;
    height: 50px;
}

.logo-background img {
    width: 45px;
    height: 45px;
}


/*



*/

.wallpaper-moon {
    background-image: url('img/background/moon.jpg')
}

#contact-section {
    background: rgba(45, 37, 58, 1);
    height: auto;
}

.half-circle {
    margin-top: 200px;
    height: 20vh;
    width: 100%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    background-color: #DF4054;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rocket-img {
    height: 75px;
    width: 75px;
    position: relative;
    margin-top: -75px;
}

.alien-img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: -20%;
}

.contact-box {
    background-color: #DF4054;
    min-height: 80vh;
    height: auto;
    width: 100%;
    padding-bottom: 20px;
}

.contact-box p {
    margin-top: 15px;
    color: #FFF;
}

.con-sec-icon {
    background-color: #B13E4B;
}

.con-sec-icon img {
    width: 70%;
    height: 70%;
}

form {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
}

form span {
    display: flex;
    justify-content: space-between;
}

.email-input,
.title-input {
    padding: 13px;
    background-color: #B13E4B;
    border: none;
    font-family: 'Montserrat', cursive;
    color: #FFF;
}

.email-input {
    width: 30%;
}

.title-input {
    width: 60%;
}

textarea {
    margin-top: 15px;
    padding: 13px;
    background-color: #B13E4B;
    border: none;
    color: #FFF;
    resize: none;
    height: 200px;
    font-family: 'Montserrat', cursive;
}

.btn-form {
    width: 100px;
    padding: 9px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #FFF;
    color: #FFF;
    font-family: 'Montserrat', cursive;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 15px;
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.btn-form:hover {
    border: 1px solid rgba(45, 37, 58, 0);
    transition: all 0.4s ease;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
}

input::placeholder,
textarea::placeholder {
    color: #FFF;
    font-family: 'Montserrat', cursive;
}

.main-footer {
    height: 70px;
    background-color: rgb(45, 37, 58);
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:link,
a:visited {
    color: #DF4054;
}

.link-hover:hover {
    transition: all 0.3s ease;
    text-decoration: none;
    border-bottom: 1px solid #DF4054;
    padding-bottom: 2px;
    color: #FFF;
}

@media screen and (max-width: 1250px) {
    #welcome-section {
        background-size: inherit;
        background-position: 50%;
    }
    .project-box,
    .about-box {
        width: 80%;
    }
    form {
        width: 80%;
    }
    .technology-box {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 700px) {
    form span {
        flex-wrap: wrap;
    }
    .email-input,
    .title-input {
        width: 100%;
        margin-top: 10px;
    }
    .prog-lang-box {
        min-height: 150px;
        height: auto;
        flex-direction: column;
        border: none;
        border-bottom: 1px solid #FFF;
    }
    .p-description-box {
        border-right: none;
    }
    .prog-lang-box div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .logo-name {
        font-size: 30px;
    }
    .tech-con {
        margin-top: 20px;
    }
    .small-box-column {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .small-tech-box {
        margin-top: 10px;
    }
    .prog-lang-box {
        border: none;
    }
    .p-description-box {
        width: 90%;
        height: auto;
    }
    .software article {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .my-photo {
        width: 150px;
        height: 150px;
    }
}